.saved-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #DAB141;

}

.saved-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin-bottom: 10rem;
}

textarea {
  background-image: url(../../assets/tealpen.png);
  background-repeat: no-repeat;
  background-size: 1.3rem;
  text-indent: 2.5em;
  line-height: 1.2rem;
  padding: .5rem;
  height: 20vh;
  width: 15rem;
  background-color: #575757;
  background-position: top 0.5rem left 0.5rem;
  color: #DAB141;
  border-radius: 2rem;
  font-family: 'Dosis',
  sans-serif;
}

.thumbnails {
  width: 4rem;
  margin: 1rem;
}

.reading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  width: 20rem;
  border: 2pt solid #575757;
  border-style: inset;
}