.intention-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  width: 100vw;
  color: #DAB141;
  animation: fadeIn ease 3s;
}

.intention-section p{
  width: 10rem;
  text-align: center;
}

.reading-btn {
  color: #DAB141;
  background-color: #334239;
  border-radius: 4rem;
  height: 3rem;
  width: 15rem;
  border: none;
  margin: 1rem;
}

.stars {
  width: 6rem
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}